/* 
    Created on : 17.4.2015, 12:51:10
    Author     : Ville
*/

body {
  margin-top: 13%;
  background-color: #DDDDDD;
}

#signInCenterizingDiv {
  margin: 50px;
  padding: 20px;
  width: 200px;
  background-color: #BDB69C;
  border-radius: 4px;
}

#signInButton {
  margin-top: 15px;
}
