html, body { height: 100%; width: 100%; margin: 0; }
div { height: 100%; width: 100%; }
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    height: 9%;
    position: relative;
    min-width: 800px;
}
header h1 {
    margin-left: 80px;
    margin-right: 80px;
}
header h2 {
    right: 10px;
    top: 10px;
    position: absolute;
}
.logout {
    position: absolute;
    width: 50px;
    height: 50px;
}
.top {
    background-color: blue;
    height: 60%;
    min-height: 512px;
    min-width: 800px;
}
.mainImage {
    background-color: green;
    width: 60%;
    min-width: 512px;
    min-height: 512px;
    float: left;
    text-align: center;
}
#preview {
    display: inline;
}
.control {
    min-width: 250px;
}
.control input {
    visibility: hidden;
    width: 0;
    height: 0;
}
.bottom {
    background-color: darkblue;
    height: 25%;
    min-height: 256px;
    min-width: 800px;
}
.halfImages {
    overflow-x: auto;
    overflow-y: no-display;
    white-space: nowrap;
    min-height: 256px;
}
.halfImage {
    border: 1px solid;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}