/* 
    Created on : 23.4.2015, 10:36:16
    Author     : Ville
*/

.aihe {
  //width: 1024px;
}
.left {
  width: 800px;
  height: 512px;
  min-width: 512px;
  min-height: 512px;
  text-align: center;
  float: none;
}
.right {
  overflow-y: auto;
  float: none;
}